[submodule "utils/packages/advcpmv"]
	path = utils/packages/advcpmv
	url = https://github.com/jarun/advcpmv
[submodule "utils/packages/neovim"]
	path = utils/packages/neovim
	url = https://github.com/neovim/neovim
[submodule "utils/packages/input-remapper"]
	path = utils/packages/input-remapper
	url = https://github.com/sezanzeb/input-remapper
